<h1>Here are your books for <strong><%= @city.titleize %></strong>!</h1>
<h2>No of books: <%= @books.size %></h2>
<table class="table-striped">
  <thead>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>Summary</td>
      <td>Purchase</td>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
      <tr>
        <td><%= image_tag "http://covers.librarything.com/devkey/#{ENV["LIB_THING_KEY"]}/large/isbn/#{b.isbn}" %></td>
        <td><%= b.title %></td>
        <td><%= b.author.name %></td>
        <td><%= b.blurb %></td>
        <td><%= link_to 'Buy from Powells', '#', class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>