<h1>Here are your books for <strong><%= @city.titleize %></strong>!</h1>
<ul>
  <li class="btn filter" data-filter='all'>View All</li>
  <% @books.each do |b| %>
    <% unless b.tags.nil? %>
      <% b.tags.each do |t| %>
        <li class="btn filter" data-filter="<%= t %>"><%= t.titleize %></li> 
      <% end %>
    <% end %>
  <% end %>
</ul>

<ul id="Grid">
  <% @books.each do |b| %>
    <li class="mix <%= b.tags.join(' ') unless b.tags.nil? %>">
      <%= image_tag "http://covers.librarything.com/devkey/#{ENV["LIB_THING_KEY"]}/large/isbn/#{b.isbn}" %>
      <%= link_to b.title, books_show_path(b) %>
      <%= b.author.name %>
      <%= b.blurb %>
    </li>
  <% end %>
</ul>
