<h1>Here are your books for <strong><%= @city.titleize %></strong>!</h1>
<ul>
  <li class="btn filter" data-filter='classic'>Classics</li>
  <li class="btn filter" data-filter='drama'>Drama</li>
  <li class="btn filter" data-filter='Bildungsroman'>Bildungsroman</li>
</ul>

<ul id="Grid">
  <% @books.each do |b| %>
    <li class="mix <%= b.tags.join(' ') %>">
      <%= link_to b.title, books_show_path(b) %>
      <%= b.author.name %>
      <%= b.blurb %>
      <%= image_tag "http://covers.librarything.com/devkey/#{ENV["LIB_THING_KEY"]}/large/isbn/#{b.isbn}" %>
    </li>
  <% end %>
</ul>
