<h2>Details for <strong><%= @book.title %></strong></h2>:
<table>
  <tr>
    <%= @book.author %>
    <%= @book.blurb %>
    <%= @book.tags %>
  </tr>
</table>
<h3><%= @book.title %> has been recommended by these local writers and authorities:</h3>

<!-- mock out the display here - sort of like Discourse app maybe... -->