<h2>Details for <strong><%= @book.title %></strong></h2>:
<table>
  <tr>
    <p><%= @book.author.name %><p>
    <p><%= @book.blurb %><p>
    <p>Tagged under: <%= @book.tags.join(', ') %></p>

    <div class="exerpt">
      <%= link_to 'Read an excerpt', '#', class: 'btn', :id => 'show-excerpt' %>
      <%= link_to 'Buy text!', '#', class:  'buy btn'%>
    </div>
  </tr>
</table>
<h4><%= @book.title %> has been recommended by these local writers and authorities:</h4>

<!-- TABS experiment -->
<ul class="nav nav-tabs" id="myTab">
  <li><a data-toggle="tab" href="#excerpt">Excerpt</a></li>
  <li><a data-toggle="tab" href="#bio">Author Bio</a></li>
  <li><a data-toggle="tab" href="#context">Context</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="excerpt">
    <p>She would not say of any one in the world now that they were this or were that. She felt very young; at the same time unspeakably aged. She sliced like a knife through everything; at the same time was outside, looking on.She had a perpetual sense, as she watched the taxi cabs, of being out, out, far out to sea and alone; she always had the feeling that it was very, very dangerous to live even one day. Not that she thought herself clever, or much out of the ordinary. How she had got through life on the few twigs of knowledge Fräulein Daniels gave them she could not think. She knew nothing; no language, no history; she scarcely read a book now, except memoirs in bed; and yet to her it was absolutely absorbing; all this; the cabs passing; and she would not say of Peter, she would not say of herself, I am this, I am that.

    Her only gift was knowing people almost by instinct, she thought, walking on. If you put her in a room with some one, up went her back like a cat's; or she purred. Devonshire House, Bath House, the house with the china cockatoo, she had seen them all lit up once; and remembered Sylvia, Fred, Sally Seton — such hosts of people; and dancing all night; and the waggons plodding past to market; and driving home across the Park. She remembered once throwing a shilling into the Serpentine. But every one remembered; what she loved was this, here, now, in front of her; the fat lady in the cab. Did it matter then, she asked herself, walking towards Bond Street, did it matter that she must inevitably cease completely; all this must go on without her; did she resent it; or did it not become consoling to believe that death ended absolutely? but that somehow in the streets of London, on the ebb and flow of things, here, there, she survived, Peter survived, lived in each other, she being part, she was positive, of the trees at home; of the house there, ugly, rambling all to bits and pieces as it was; part of people she had never met; being laid out like a mist between the people she knew best, who lifted her on their branches as she had seen the trees lift the mist, but it spread ever so far, her life, herself. But what was she dreaming as she looked into Hatchards' shop window? What was she trying to recover? What image of white dawn in the country, as she read in the book spread open:

    Fear no more the heat o' the sun

    Nor the furious winter's rages.</p>
  </div>
  <div class="tab-pane" id="bio">
    
  </div>
  <div class="tab-pane" id="context">
    
  </div>
</div>

